/* Updating scroll coordinates for deciding animation breakpoints */
#cord{
	color: aliceblue;
	position: fixed;
	top: 10px;
}

#after_animation{
	position: absolute;
	top:1600px; /*form scroll coordinates */
	color: white !important;
}

p{
	color: white !important;
}
body {
	padding-bottom: 200px;
	padding-top: 30px !important;
	background-color:black;
}

/* -------------------- */
.final_pos{
	position: fixed;
	bottom:41%;
}
.initial_pos_card1 {
	position: absolute;
	bottom:-10vh;
}
/* CARD 2---------------- */
.initial_pos_card2 {
	bottom:-15%;
	position: fixed;
}

.next_pos_card2 {
	bottom:-69vh;
	position: absolute;
}

/* CARD 3---------------- */
.initial_pos_card3 {
	position: fixed;
	bottom:-20%;
}

.next_pos_card3 {
	top:1020px;
	position: absolute;
}
/* CARD 4-------------- */
.initial_pos_card4 {
	position: fixed;;
	bottom:-25%;
}
.next_pos_card4 {
	top:1340px;
	position: absolute;
}

#card1 .card-body {
	background-color: #52B2CF;
}
#card2 .card-body {
	background-color: #E5A36F;
}
#card3 .card-body {
	background-color: #9CADCE;
}
#card4 .card-body {
	background-color: #D4AFB9;
}
.card-body {
	box-sizing: border-box;
	padding: 30px;
	border-radius: 50px;
	height: 28vh;
	width: 50vw;
}
.card{
	left: 25vw;
}

